.brand-gradient{
            background: #00ccff;
            background: -webkit-linear-gradient(to right, #00ccff,#00a347);
            background: linear-gradient(to right, #00ccff,#00a347);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

.banner-holder,.main-page-header{
    background-image: url(img/Banner.jpg);
    background-size: cover;
    background-position: bottom;
}   

.custom-nav{
    backdrop-filter: blur(8px);
}